<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="libpxcclr.cs" version="8.0.24.6528" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="sharpsenses.realsense" version="0.9.9.0" targetFramework="net45" />
  <package id="SQLite" version="3.12.3" targetFramework="net45" />
  <package id="SQLite.Native" version="3.12.3" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.102.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.102.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.102.0" targetFramework="net45" />
</packages>